* {
  margin: 0;
  padding: 0;
  
  
}

.main{
  height:100vh;
  background:linear-gradient(to right, #d3e2f1, #1360a0);
  overflow-y:auto;
  padding-bottom: 150px;
}

.title {
  text-align: center;
  padding: 40px;
  font-size: 32px;
  color: white;
}

/* Container */
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  
  
}

/* Same width & height */
.services1{
  width: 450px;
  height: 500px;
  background: transparent;
  border-radius:22px;
 box-shadow: 0 0 25px rgb(8, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;  /* FIXED */
}
.services2{
  width: 500px;
  height: 500px;
  background: transparent;
  border-radius: 12px;
 box-shadow: 0 0 25px rgb(8, 0, 0);
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  transition: all 0.5s ease-in-out;  /* FIXED */
}

.services1:hover,
.services2:hover{
  box-shadow: 0 0 25px rgba(247, 245, 245, 0.8);
  transform: scale(1.05);   /* smooth equal zoom */
}

/* Iframe */
.services1 iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Form container */
.service-form {
  width: 90%;              /* full width inside box */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.service-form h2 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 25px;
  width: 100%;
}

.service-form input,
.service-form textarea {
  width: 100%;
  margin-bottom: 30px;      /* smaller gap */
  padding: 8px 10px;        /* small padding */
  border-radius: 6px;
  border: 1px solid #135c79;
  background: transparent;

  font-size: 14px;          /* smaller text */
  font-weight: 400;
}
.service-form textarea {
  height: 80px;   /* small height */
  resize: none;   /* optional */
}
.service-form input::placeholder,
.service-form textarea::placeholder {
    color: rgb(7, 7, 7);
    font-size: large;
    font-weight: 200px;
}

/* Button */
.service-form button {
  width: 100%;             /* full width */
  padding: 22px;
  border: none;
  background: #2196f3;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.service-form button:hover {
  background: #1976d2;
}